<!doctype html>
<html>
	<head>
		<h1>Movie Search</h1>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<style>
			table td {
				border: 1px solid black;
				padding: 5px;
			}
		</style>
	</head>
	<body ng-app="movies" ng-controller="MainCtrl">
		<div>
			<input type="text" id="searchbox" ng-model="query"/>
			<button ng-click="clickTest()">Click Me</button>
			<table id="movies">
				<thead>
					<td>Name</td>
					<td>Year</td>
					<td>ID</td>
				</thead>
				<tr ng-repeat="movie in movies">
					<td> {{movie.Title}} </td>
					<td> {{movie.Year}} </td>
					<td> {{movie.plot}} </td>
				</tr>
			</table>
		</div>
		<script>

			var app = angular.module('movies', []);

			app.controller('MainCtrl', ['$scope', 'MovieFactory', function ($scope, MovieFactory){
				$scope.query = "";
				$scope.movies = [];
				var getMovieInfo = function(index, id) {
					MovieFactory.searchById(id)
						.then(function(response) {
							$scope.movies[index].plot = response.Plot;
						})
				};
				$scope.clickTest = function () {
					MovieFactory.searchFilms($scope.query)
						.then(function(response) {
							$scope.movies = response.Search;
							console.log($scope.movies);
							for(var i=0; i<$scope.movies.length; i++) {
								$scope.movies[i].foo = i * 20;
								getMovieInfo(i, $scope.movies[i].imdbID);
							}
						})
				};
			}]);

			app.factory('MovieFactory', ['$http', '$q', function($http, $q) {
				var MovieFactory = {};
				MovieFactory.searchFilms = function(query) {
					var deferred = $q.defer();
					$http.get("http://www.omdbapi.com/?s=" + query)
						.success(function(movies) {
							deferred.resolve(movies)
						})
					return deferred.promise;
				};

				MovieFactory.searchById = function(id) {
					var deferred = $q.defer();
					$http.get("http://www.omdbapi.com/?i=" + id)
						.success(function(movie) {
							deferred.resolve(movie)
						})
					return deferred.promise;
				};

				return MovieFactory;
			}]);

		</script>
	</body>
</html>
